:root {
  --title-font: 'Comfortaa', cursive, Arial, sans-serif;
  --text-font: 'Poppins', Arial, sans-serif;
  /* 
    Comfortaa 500;700 
    Poppins 400;500 
  */
  --radius: 12px;
  --transition: 0.15s ease-in;
  --shadow: rgba(0, 0, 0, 0.3);
  /* Colors */
  --dark-gray: #2e353d;
  --gray: #686c73;
  --light-gray: #c2c8cf;
  --white: #ffffff;
  --yellow: #fed449;
  --red: #f36157;
  --orange: #ff765a;
  --blue: #06bee1;
  --purple: #9c73f1;
  --dark-purple: #3e3488;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
