.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 0;

  @media (min-width: 700px) {
    max-width: 640px;
    margin: 2rem auto 1rem;
    padding: 0;
  }

  &-title {
    color: var(--primary-text-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
  }
}
