:root {
  /* 
    Comfortaa 500;700 
    Poppins 400;500 
  */
  --title-font: 'Comfortaa', cursive, Arial, sans-serif;
  --text-font: 'Poppins', Arial, sans-serif;
  --radius: 12px;
  --transition: 0.1s ease-in;
  --shadow: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  --primary-blue: #0078fe;

  /* Darkmode Colors */
  --primary-bg: #141c2f;
  --primary-text-color: #f5f8ff;
  --secondary-bg: #1f2a48;
  --secondary-light: #ffffff;
}

body.dark {
  --primary-bg: #141c2f;
  --primary-text-color: #f5f8ff;
  --secondary-bg: #1f2a48;
  --secondary-light: #ffffff;
}
body.light {
  --primary-bg: #ebf1ff;
  --primary-text-color: #33373a;
  --secondary-bg: #fffdfd;
  --secondary-light: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --primary-bg: #141c2f;
    --primary-text-color: #f5f8ff;
    --secondary-bg: #1f2a48;
    --secondary-light: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  body.light {
    --primary-bg: #ebf1ff;
    --primary-text-color: #33373a;
    --secondary-bg: #fffdfd;
    --secondary-light: #ffffff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  transition: var(--transition);
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--primary-bg);
  font-family: var(--text-font);
  scroll-behavior: smooth;
  transition: var(--transition);
  padding-bottom: 1rem;

  @media (min-width: 700px) {
    padding: 2rem 0;
  }

  @media (min-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: var(--secondary-bg);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-blue);
  }
}

.app {
  min-width: 100%;
}
