.themeToggle {
  display: flex;
  padding: 0.5rem;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background: transparent;
  border: 2px solid transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.95rem;
  font-family: var(--title-font);

  @media (min-width: 700px) {
    font-size: 1.05rem;
  }

  &:hover {
    border: 2px solid var(--primary-blue);
  }

  &:active {
    transform: scale(0.95);
  }
}
