@use './root';
@use './card';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 0;

  &-title {
    color: var(--primary-text-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
  }
}

.searcher {
  align-items: center;
  background: var(--secondary-bg);
  border-radius: var(--radius);
  color: var(--primary-blue);
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: 2rem 1rem 1rem;
  padding: 0.3rem;

  &-form {
    display: flex;
    align-items: center;
    column-gap: 0.45rem;

    &-icon {
      cursor: pointer;
      font-size: 1.3rem;
      margin-left: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-input {
      background: transparent;
      border: none;
      color: var(--primary-text-color);
      outline: none;
      padding: 0.5rem 0;

      &::placeholder {
        color: var(--primary-text-color);
      }
    }
  }

  &-btn {
    border-radius: var(--radius);
    padding: 0.5rem;
    text-align: center;
    border: none;
    outline: none;
    background: var(--primary-blue);
    color: var(--primary-text-color);
    font-family: var(--title-font);
    font-weight: 700;
  }
}
