@use './root';
@use './card';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 0;

  @media (min-width: 700px) {
    max-width: 640px;
    margin: 2rem auto 1rem;
    padding: 0;
  }

  &-title {
    color: var(--primary-text-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
  }
}

.searcher {
  align-items: center;
  background: var(--secondary-bg);
  border-radius: var(--radius);
  color: var(--primary-blue);
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: 2rem 1rem 1rem;
  padding: 0.5rem;
  border: 0.5px solid transparent;
  transition: border var(--transition);

  @media (min-width: 375px) {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  @media (min-width: 700px) {
    max-width: 640px;
    margin: 2rem auto 1rem;
    min-width: 560px;
  }

  &-form {
    align-items: center;
    column-gap: 0.45rem;
    display: flex;

    &-icon {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 1.3rem;
      justify-content: center;
      margin-left: 0.3rem;
    }

    &-input {
      background: transparent;
      border: none;
      color: var(--primary-text-color);
      outline: none;
      width: 100%;

      &::placeholder {
        color: var(--primary-text-color);
        opacity: 0.8;
      }
    }
  }

  &-btn {
    background: var(--primary-blue);
    border-radius: var(--radius);
    border: none;
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: var(--title-font);
    font-weight: 700;
    outline: none;
    padding: 0.5rem;
    text-align: center;
    transition: box-shadow var(--transition);

    &:hover {
      box-shadow: 0 0 4px 1px var(--primary-blue);
    }

    @media (min-width: 375px) {
      padding: 0.7rem;
    }
  }
}

.borderColor {
  transition: border var(--transition);
  border: 0.5px solid var(--primary-blue);
}

.nosearch {
  &-title {
    color: var(--primary-text-color);
    text-align: center;
    padding-top: 1rem;
    border-bottom: 2px solid transparent;
    transition: var(--transition);
    width: fit-content;
    margin: 0 auto;
    opacity: 0.9;
    font-family: var(--title-font);

    &:hover {
      border-bottom: 2px solid var(--primary-blue);
    }
  }

  &-img {
    animation: levitate 6s ease-in-out infinite;
    display: block;
    margin-top: -3rem;
    margin: 0 auto;
    transition: var(--transition);
    user-select: none;
    width: 100%;

    @media (min-width: 700px) {
      margin-top: -5rem;
      width: 500px;
    }
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
